@font-face {
    font-family: 'briteicons';
    src:    url('fonts/briteicons.eot?2i4wzg');
    src:    url('fonts/briteicons.eot?2i4wzg#iefix') format('embedded-opentype'),
        url('fonts/briteicons.ttf?2i4wzg') format('truetype'),
        url('fonts/briteicons.woff?2i4wzg') format('woff'),
        url('fonts/briteicons.svg?2i4wzg#briteicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bi {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'briteicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tip-help:before {
    content: "\e902";
}
.layers:before {
    content: "\e903";
}
.split:before {
    content: "\e905";
}
.split-add:before {
    content: "\e90a";
}
.delete:before {
    content: "\e906";
}
.business:before {
    content: "\e907";
}
.flag:before {
    content: "\e904";
}
.bookmark:before {
    content: "\e908";
}
.bookmark-ot:before {
    content: "\e909";
}
.file:before {
    content: "\e901";
}
.file-add:before {
    content: "\e900";
}
.chat-right:before {
    content: "\e90b";
}
.chat:before {
    content: "\e90c";
}
.chat-full:before {
    content: "\e90d";
}
.chat-ot:before {
    content: "\e90e";
}
.chat-info:before {
    content: "\e90f";
}
.menu:before {
    content: "\e910";
}
.dots-vert:before {
    content: "\e911";
}
.dots-hor:before {
    content: "\e912";
}
.attach:before {
    content: "\e913";
}
.link:before {
    content: "\e914";
}
.circle-target:before {
    content: "\e915";
}
.circle-target-off:before {
    content: "\e916";
}
.circle-back:before {
    content: "\e917";
}
.circle-forward:before {
    content: "\e918";
}
.circle-dot:before {
    content: "\e919";
}
.circle-dot-back:before {
    content: "\e91a";
}
.circle-arrow-back:before {
    content: "\e91b";
}
.circle-arrow:before {
    content: "\e91c";
}
.clock:before {
    content: "\e91d";
}
.clock-back:before {
    content: "\e91e";
}
.alarm:before {
    content: "\e91f";
}
.alarm-check:before {
    content: "\e920";
}
.alarm-add:before {
    content: "\e921";
}
.alarm-off:before {
    content: "\e922";
}
.add:before {
    content: "\e923";
}
.cross:before {
    content: "\e924";
}
.check:before {
    content: "\e925";
}
.warning-sign:before {
    content: "\e926";
}
.warning:before {
    content: "\e927";
}
.info:before {
    content: "\e928";
}
.info-ot:before {
    content: "\e929";
}
.circle-remove:before {
    content: "\e92a";
}
.circle-remove-ot:before {
    content: "\e92b";
}
.circle-add:before {
    content: "\e92c";
}
.circle-add-ot:before {
    content: "\e92d";
}
.circle-check:before {
    content: "\e92e";
}
.circle-drop-down:before {
    content: "\e92f";
}
.mail-ot:before {
    content: "\e930";
}
.mail:before {
    content: "\e931";
}
.contact-calendar:before {
    content: "\e932";
}
.date-range:before {
    content: "\e933";
}
.contact-mail:before {
    content: "\e934";
}
.people:before {
    content: "\e935";
}
.people-ot:before {
    content: "\e936";
}
.person:before {
    content: "\e937";
}
.person-ot:before {
    content: "\e938";
}
.person-add:before {
    content: "\e939";
}
.person-pin:before {
    content: "\e93a";
}
.person-pin-circle:before {
    content: "\e93b";
}
.edit-line:before {
    content: "\e93c";
}
.edit:before {
    content: "\e93d";
}
.file-upload:before {
    content: "\e93e";
}
.file-download:before {
    content: "\e93f";
}
.cloud-upload:before {
    content: "\e940";
}
.cloud-download:before {
    content: "\e941";
}
.cloud-done:before {
    content: "\e942";
}
.settings:before {
    content: "\e943";
}
.arrow-right:before {
    content: "\e944";
}
.arrow-left:before {
    content: "\e945";
}
.arrow-up:before {
    content: "\e946";
}
.arrow-down:before {
    content: "\e947";
}
.drop-up:before {
    content: "\e948";
}
.drop-down:before {
    content: "\e949";
}
.radio:before {
    content: "\e94a";
}
.radio-on:before {
    content: "\e94b";
}
.checkbox:before {
    content: "\e94c";
}
.checkbox-on:before {
    content: "\e94d";
}
.label:before {
    content: "\e94e";
}
.folder:before {
    content: "\e94f";
}
.folder-ot:before {
    content: "\e950";
}
.folder-add:before {
    content: "\e951";
}
.folder-star:before {
    content: "\e952";
}
.folder-person:before {
    content: "\e953";
}
.search:before {
    content: "\e954";
}
.circle-star:before {
    content: "\e955";
}
.star:before {
    content: "\e956";
}
.star-half:before {
    content: "\e957";
}
.star-ot:before {
    content: "\e958";
}
.case:before {
    content: "\e959";
}

